{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 login-container text-center">
  <h1>{% trans "Sign Up" %}</h1>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for i in form %}
      <div class="login-field">
        {{i}}
      </div> <br>
      {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="hero-btn" style="width: 200px;">{% trans "Sign Up" %} &raquo;</button>
</form>
<br>
<p>{% blocktrans %}Already have an account ? <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>
</div>
</div>
<br><br>
{% endblock %}
