{% extends 'account/base.html' %}
{% block head_title %} E-Book Reading {% endblock %}

{% block content %}
<section class="text">
    <div class="text-box">
        <h1>Bibliotheca</h1>
        <br>
        <p>Created by Chintan Acharya, Chinmay Jain and Nidhi Panchal.</p>

        <div class="text-center">
            <h6 style="font-weight: bold;">Search For A Book</h6>
            <form action="#" method="post">
                {% csrf_token %}
                <input type="text" style="margin-left:0" required placeholder="Search by Book Title/Author Name"
                    name="TitleOfBook">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</section>
<section class="best-Selling">
    <h1>Most Popular Books</h1>
    <br>
    <div class="" style="width: 80px; height:5px;background-color: #ff7294;margin: auto;"></div>
    <br>
    <br>
    <div class="row">
        {% for book in top_books %}
        <div class="best-selling-col">
            <a href="{% url 'book_detail_view' book.id %}"><img src="media/{{book.cover_image}}" alt=""></a>
            {% if user.is_authenticated %}
            {% if wishlist %}
            {% for ab in wishlist %}
            {% ifequal book.id ab.book.id %}
            <div class="wishlist-icon" onclick="removeWishlist('{{book.id}}', this)">
                <ion-icon name="heart" style="color:red"></ion-icon>
            </div>
            {% else %}
            <div class="wishlist-icon" onclick="addWishlist('{{book.id}}', this)">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            {% endifequal %}
            {% endfor %}
            {% else %}
            <div class="wishlist-icon" onclick="addWishlist('{{book.id}}', this)">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr>
</section>

<section class="best-Selling">
    <h1>Most Read Books Collection</h1>
    <br>
    <div class="" style="width: 80px; height:5px;background-color: #ff7294;margin: auto;"></div>
    <br>
    <br>
    <div class="row">
        {% for book in most_read %}
        <div class="best-selling-col">
            <a href="{% url 'book_detail_view' book.id %}"><img src="media/{{book.cover_image}}" alt=""></a>
            {% if user.is_authenticated %}
            {% if wishlist %}
            {% for ab in wishlist %}
            {% ifequal book.id ab.book.id %}
            <div class="wishlist-icon" onclick="removeWishlist('{{book.id}}', this)">
                <ion-icon name="heart" style="color:red"></ion-icon>
            </div>
            {% else %}
            <div class="wishlist-icon" onclick="addWishlist('{{book.id}}', this)">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            {% endifequal %}
            {% endfor %}
            {% else %}
            <div class="wishlist-icon" onclick="addWishlist('{{book.id}}', this)">
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a href="#" class="hero-btn">View All Books</a>
    <br><br><br>
    <hr>
</section>

<section class="authors">
    <h1>Most Popular Authors</h1>
    <br>
    <div class="" style="width: 80px; height:5px;background-color: #ff7294;margin: auto;"></div>
    <br>
    <br>

    <div class="row">
        {% for author in authors %}
        <div class="authors-col">
            <a href=""><img src="media/{{author.image}}" alt="{{author.name}}"></a>
            <h3>{{author.name}}</h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        {% endfor %}
    </div>
</section>
<div id="snackbar">Some text some message..</div>
<br><br>

<script>
    function addWishlist(id, element) {
        element.innerHTML = '<div class="loader"></div>';
        $.ajax({
            url: "/addtowishlist/" + id,
            success: function (response) {
                console.log(response);
                element.innerHTML = '<ion-icon name="heart" style="color:red"></ion-icon>';
                element.setAttribute('onclick', 'removeWishlist(' + id + ",this)");
                var x = document.getElementById("snackbar");
                x.className = "show";
                x.innerHTML = "Book Added to Wishlist";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            },
            // on error
            error: function (response) {
                console.log(response.responseJSON.errors);
            }
        });
    }
    function removeWishlist(id, element) {
        element.innerHTML = '<div class="loader"></div>';
        $.ajax({
            url: "/removewishlist/" + id,
            success: function (response) {
                console.log(response);
                element.innerHTML = '<ion-icon name="heart-outline"></ion-icon>';
                element.setAttribute('onclick', 'addWishlist(' + id + ",this)");
                var x = document.getElementById("snackbar");
                x.className = "show";
                x.innerHTML = "Book Removed from Wishlist";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            },
            // on error
            error: function (response) {
                console.log(response.responseJSON.errors);
            }
        });
    }
</script>


{% endblock %}